body{
    background-color: #c12020;
}

#movieInformation > img{
    
    margin: 0px auto;
}

.clear{
    clear:both;
}

button{
    float:right;
}
.header{
    background-color: white;
    max-width: 700px;
    margin: 0px auto;
}
h1{
    padding-top: 50px;
    text-align:center;
    float:right;
    width: 60%;
}

h2{
    text-align: center;
    margin: 0px auto;
    width: 70%;
    padding-bottom: 25px;
}

/*Input field*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: center;
    color: grey;
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: grey;
}


.image{
    width: 40%;
    float:left;
}

#movieInformation{
    background-color:white;
    min-height: 400px;
    max-width: 700px;
    margin: 0px auto;
}

#movieInformation li, p{
    padding-left: 50px;
    padding-right: 100px;
}

.moreInformationButton{
    float:right:
}

li{
    float:left;
}

.moreInformationButton:hover, #searchMovieButton:hover{
    background-color: darkgrey;
    border: 2px solid grey;
    opacity: 0.8;
}

#divSearchField{
    background-color: white;
    margin: 0px auto;
    max-width: 700px;
    height: 100px;
    padding-top: 50px;
}

.inputfieldAndButton{
    margin: 0px auto;
    text-align:center;
}

#searchMovie{
    height: 40px;
}

#searchMovie:focus{
    outline: 2px solid #c12020;
}

p, li, h1, h2{
    font-family: 'Raleway', sans-serif;
}

.bold{
    font-weight: bolder;
}

#movieInformation > p:nth-child(3){
    max-width: 50%; 
    padding: 0px;
    text-align: center;
    margin:0px auto;
    font-style: italic;
}

.moviePoster{
    text-align:center;    
}

.moviePoster img{
    height: 250px;
}
