body{
    background-color: #c12020;
}

#movieInformation > img{
    height: 100px;
}

.clear{
    clear:both;
}

.header{
    background-color: white;
    max-width: 700px;
    margin: 0px auto;
}
h1{
    padding-top: 50px;
    text-align:center;
    float:right;
    width: 60%;
}

/*Input field*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: center;
    color: grey;
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: grey;
}


.image{
    width: 40%;
    float:left;
}

#movieInformation{
    background-color:white;
    min-height: 400px;
    max-width: 700px;
    margin: 0px auto;
    
}

#movieInformation li{
    padding-left: 50px;
    padding-right: 100px;
}

.moreInformationButton:hover, #searchMovieButton:hover{
    background-color: darkgrey;
    border: 2px solid grey;
    opacity: 0.8;
}

#divSearchField{
    background-color: white;
    margin: 0px auto;
    max-width: 700px;
    height: 150px;
    padding-top: 40px;
    padding-bottom: -40px;
}

.inputfieldAndButton{
    margin: 0px auto;
    text-align:center;
}

#searchMovie{
    height: 40px;
}

#searchMovie:focus{
    outline: 2px solid #c12020;
}

#searchMovieButton

